<div class="container login-container" fxLayout="row" fxLayoutAlign="center center">
    <form [formGroup]="loginForm" fxFlex="30%" fxFlex.sm="50%" fxFlex.xs="90%">
        <mat-card>
            <mat-card-title>GWI Customer Portal</mat-card-title>
            <mat-card-subtitle>Enter Your Details Below</mat-card-subtitle>
            <mat-card-content>

                <mat-form-field class="full-width">
                    <input id="account_no" matInput placeholder="Account Number" formControlName="account_no" type="text">

                    <mat-error id="invalidAccountNumberError" *ngIf="loginForm.controls['account_no'].hasError('pattern')">
                        Please enter a valid Account Number
                    </mat-error>
                    <mat-error id="invalidAccountNumberError" *ngIf="loginForm.controls['account_no'].hasError('minlength')">
                        Please enter a valid Account Number
                    </mat-error>
                    <mat-error id="invalidAccountNumberError" *ngIf="loginForm.controls['account_no'].hasError('maxlength')">
                            Please enter a valid Account Number
                        </mat-error>
                    <mat-error id="requiredAccountNumberError" *ngIf="loginForm.controls['account_no'].hasError('required')">
                        AccountNumber is <strong>required</strong>
                    </mat-error>

                </mat-form-field>

                <mat-form-field class="full-width">
                    <input id="last_name" matInput placeholder="Last Name" formControlName="last_name" type="text">
                    <mat-error id="requiredLastNameError" *ngIf="loginForm.controls['last_name'].hasError('required')">
                        Last Name is
                        <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </mat-card-content>

            <mat-card-actions class="login-actions">
                <button mat-raised-button id="login" color="primary" [disabled]="loginForm.invalid || loading"
                    (click)="login()">View Account
                </button>
            </mat-card-actions>

        </mat-card>

        <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    </form>
</div>